<!--cardmain.html-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>하나카드 Main Page</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" href="/images/hana_logo.png">
</head>
<body>
<header>
    <div class="logo">
        <img src="/images/hana_logo.png" alt="하나카드 로고"/>
    </div>
    <nav>

    </nav>
</header>
<section>
    <a th:href="@{/api/card-list}">카드 리스트</a>
    <br>
    <a th:href="@{/api/account-inquiry}">계좌 목록 조회</a>
    <br>
</section>
<footer>

</footer>
</body>
</html>
